* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 5px 0 10px 0;
    
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 10px 0 0 0;
}

